/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

/* General Styles */

body {
    font-family: 'Lato', sans-serif;
    background-color: #7faddb;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

section {
    margin: 0 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.smaller-font-size {
    font-size: 14px;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}


img {
    border-radius: 5px;
}

.modal-body {
    text-align: left;
}

/* Header and Footer */

.header-style {
    border-bottom: 2px solid black;
    background-color: #ea632b;
}

.page-headline {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.faq-box {
    padding-top: 0.5rem;
    padding-bottom: 0;
}

.far {
    background-color: #fff;
    border-radius: 50%;
}

.footer-style {
    border-top: 2px solid black;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Boxes with main content */

.boxes {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    width: auto;
    background-color: #fff;
}

.innerbox-headline {
    border-bottom: 1px solid black;
}

.innerbox-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.two-boxes-row-height {
    height: 325px;
}

.innerbox-button {
    border-top: 1px solid black;
    padding-top: 1rem;
}

/* Joke block */

.joke-container {
    margin-top: 8rem;
}

#joke {
    text-align: justify;
    padding-right: 300px;
    padding-left: 300px;
}

/* Weather block */

.weather-headline {
    margin-bottom: 1.5rem;
}

/* Movie block */

#movie-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}

.movie-modal-style {
    text-align: left;
}

/* Meal block */

.meal-container {
    margin-bottom: 4rem;
}

#meal-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}

/* Bootstrap button customisation */

.btn-info {
    background-color: #ea632b;
    border-color: #ea632b;
    font-family: 'Roboto Mono', sans-serif;
}

.btn-info:hover {
    color: #fff;
    background-color: #ea632b;
    border-color: #ea632b;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #ea632b;
    border-color: #ea632b;
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 89 19 / 25%);
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #ea632b;
    border-color: #ea632b;
    box-shadow: 0 0 0 0.2rem rgb(255 89 19 / 25%);
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/* Refresh Button */

.refresh-button {
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #7faddb;
    cursor: pointer;
}

/* Only for screensize < 600px */

@media only screen and (max-width: 600px) {
.meal-headline {
    font-size: 20px;
}

#joke {
    text-align: justify;
    padding: 0;
}
}