.header-style {
    border-bottom: 1px solid black;
    padding: 1rem;
}

.footer-style {
    border-top: 1px solid black;
}

.boxes {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2rem;
    padding: 2rem;
}